n8n/usajobs-to-sheets.json
{
  "name": "USAJobs → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://data.usajobs.gov/api/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "data.usajobs.gov"
            },
            {
              "name": "User-Agent",
              "value": "={{ $env.USAJOBS_EMAIL }}"
            },
            {
              "name": "Authorization-Key",
              "value": "={{ $env.USAJOBS_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "PositionTitle",
              "value": "DevOps;Site Reliability;Platform Engineer;Cloud Engineer;Cloud Architect;Infrastructure Engineer;IT Specialist"
            },
            {
              "name": "LocationName",
              "value": "Washington, DC"
            },
            {
              "name": "Radius",
              "value": "50"
            },
            {
              "name": "ResultsPerPage",
              "value": "500"
            },
            {
              "name": "DatePosted",
              "value": "30"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        }
      },
      "id": "search-by-title",
      "name": "Search by Title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://data.usajobs.gov/api/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "data.usajobs.gov"
            },
            {
              "name": "User-Agent",
              "value": "={{ $env.USAJOBS_EMAIL }}"
            },
            {
              "name": "Authorization-Key",
              "value": "={{ $env.USAJOBS_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Keyword",
              "value": "cloud infrastructure"
            },
            {
              "name": "LocationName",
              "value": "Washington, DC"
            },
            {
              "name": "Radius",
              "value": "50"
            },
            {
              "name": "ResultsPerPage",
              "value": "500"
            },
            {
              "name": "DatePosted",
              "value": "30"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        }
      },
      "id": "search-by-keyword",
      "name": "Search by Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        450
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-searches",
      "name": "Merge Searches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const TECH_KEYWORDS = [\n  'kubernetes', 'k8s', 'terraform', 'aws', 'azure', 'gcp',\n  'docker', 'ansible', 'puppet', 'chef', 'linux', 'python',\n  'golang', 'java', 'jenkins', 'github', 'gitlab',\n  'ci/cd', 'cicd', 'cloudformation', 'helm', 'prometheus',\n  'grafana', 'splunk', 'datadog', 'powershell', 'bash',\n  'red hat', 'rhel', 'windows server', 'vmware', 'openshift',\n  'iam', 'devsecops', 'jira', 'servicenow'\n];\nconst DMV_KEYWORDS = [\n  'washington', 'dc', 'd.c.', 'district of columbia',\n  'maryland', 'virginia', 'arlington', 'alexandria',\n  'fairfax', 'reston', 'tysons', 'mclean', 'herndon',\n  'sterling', 'ashburn', 'leesburg', 'bethesda', 'rockville',\n  'silver spring', 'college park', 'columbia', 'baltimore',\n  'annapolis', 'fort meade', 'fort belvoir', 'pentagon',\n  'springfield', 'chantilly', 'quantico'\n];\nconst REMOTE_KEYWORDS = [\n  'remote', 'telework', 'anywhere', 'negotiable',\n  'multiple locations', 'virtual', 'work from home'\n];\nfunction extractTechnologies(text) {\n  if (!text) return '';\n  const lower = text.toLowerCase();\n  const found = TECH_KEYWORDS.filter(kw => lower.includes(kw));\n  return [...new Set(found)].join(', ');\n}\nfunction classifyLocation(locationDisplay) {\n  const loc = (locationDisplay || '').toLowerCase();\n  for (const kw of REMOTE_KEYWORDS) { if (loc.includes(kw)) return 'relevant'; }\n  for (const kw of DMV_KEYWORDS) { if (loc.includes(kw)) return 'relevant'; }\n  return 'skip';\n}\nfunction detectRemote(locationDisplay) {\n  const loc = (locationDisplay || '').toLowerCase();\n  for (const kw of REMOTE_KEYWORDS) { if (loc.includes(kw)) return 'Yes'; }\n  return 'No';\n}\nfunction formatSalary(remuneration) {\n  if (!remuneration || !remuneration.length) return '';\n  const r = remuneration[0];\n  const min = parseInt(r.MinimumRange);\n  const max = parseInt(r.MaximumRange);\n  const fmt = (n) => '$' + n.toLocaleString('en-US');\n  if (min && max) return `${fmt(min)}\\u2013${fmt(max)}`;\n  if (min) return `${fmt(min)}+`;\n  if (max) return `Up to ${fmt(max)}`;\n  return '';\n}\nconst allInputs = $input.all();\nconst allResults = [];\nconst dateReceived = new Date().toISOString().split('T')[0];\nfor (const input of allInputs) {\n  let json = input.json;\n  if (!json.SearchResult && typeof json.data === 'string') {\n    try { json = JSON.parse(json.data); } catch (e) { /* keep original */ }\n  }\n  if (!json.SearchResult && json.data && typeof json.data === 'object' && json.data.SearchResult) {\n    json = json.data;\n  }\n  if (!json.SearchResult) {\n    allResults.push({ json: {\n      _isNew: true,\n      'Date Received': dateReceived, 'Company': '\\u26a0 USAJOBS API ERROR',\n      'Job Title': JSON.stringify(json).substring(0, 200),\n      'URL': '', 'Location': '', 'Remote': '', 'Salary': '',\n      'Experience': '', 'Technologies': '', 'Function': '',\n      'Company Size': '', 'Funding': '', 'Progress': 'error',\n      'Source': 'usajobs', 'Job ID': '', 'Apply URL': '', 'Applied': '', 'Security Clearance': ''\n    }});\n    continue;\n  }\n  const items = json.SearchResult.SearchResultItems || [];\n  for (const item of items) { allResults.push(item); }\n}\nconst seen = new Set();\nconst uniqueResults = [];\nfor (const item of allResults) {\n  if (item.json && item.json._isNew) { uniqueResults.push(item); continue; }\n  const id = item.MatchedObjectId;\n  if (!id || seen.has(id)) continue;\n  seen.add(id);\n  uniqueResults.push(item);\n}\nconst output = [];\nfor (const item of uniqueResults) {\n  if (item.json && item.json._isNew) { output.push(item); continue; }\n  const desc = item.MatchedObjectDescriptor || {};\n  const details = desc.UserArea?.Details || {};\n  const qualifications = desc.QualificationSummary || '';\n  const locationDisplay = desc.PositionLocationDisplay || '';\n  const orgName = desc.OrganizationName || '';\n  const deptName = desc.DepartmentName || '';\n  const company = deptName && deptName !== orgName ? `${orgName} (${deptName})` : orgName;\n  const seriesCode = (desc.JobCategory || [])[0]?.Code || '';\n  if (seriesCode !== '2210') continue;\n  const lowGrade = details.LowGrade || '';\n  const highGrade = details.HighGrade || '';\n  if (lowGrade === '00' || highGrade === '00') continue;\n  const maxGrade = parseInt(highGrade) || parseInt(lowGrade) || 0;\n  if (maxGrade > 0 && maxGrade < 12) continue;\n  const experience = lowGrade && highGrade && lowGrade !== highGrade\n    ? `GS-${lowGrade} to GS-${highGrade}` : lowGrade ? `GS-${lowGrade}` : '';\n  const jobCategory = (desc.JobCategory || [])[0];\n  const functionName = jobCategory ? jobCategory.Name : '';\n  const applyUri = (desc.ApplyURI || [])[0] || '';\n  output.push({ json: {\n    _isNew: true,\n    'Date Received': dateReceived,\n    'Company': company,\n    'Job Title': desc.PositionTitle || '',\n    'URL': desc.PositionURI || '',\n    'Location': locationDisplay,\n    'Salary': formatSalary(desc.PositionRemuneration),\n    'Progress': classifyLocation(locationDisplay),\n    'Remote': detectRemote(locationDisplay),\n    'Experience': experience,\n    'Technologies': extractTechnologies(qualifications),\n    'Function': functionName,\n    'Company Size': '',\n    'Funding': '',\n    'Source': 'usajobs',\n    'Job ID': item.MatchedObjectId || '',\n    'Apply URL': applyUri,\n    'Applied': '',\n    'Security Clearance': details.SecurityClearance || ''\n  }});\n}\nif (output.length === 0) return [];\nreturn output;"
      },
      "id": "parse-classify",
      "name": "Parse & Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1n7KDTMLHbSgUEue6HFXFLm8NA8NKibA-LRiBk8blI34",
          "cachedResultName": "WTJ Job Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7KDTMLHbSgUEue6HFXFLm8NA8NKibA-LRiBk8blI34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "USAJobs"
        },
        "options": {}
      },
      "id": "read-existing-jobs",
      "name": "Read Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        650
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0pHaLOuQws9nqOt4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-wait",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1300,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newItems = [];\nconst existingKeys = new Set();\nconst existingUrls = new Set();\nfor (const item of allItems) {\n  if (item.json._isNew) { newItems.push(item); }\n  else {\n    const source = String(item.json['Source'] ?? '').trim();\n    const jobId = String(item.json['Job ID'] ?? '').trim();\n    const url = String(item.json['URL'] ?? '').trim();\n    const key = source && jobId ? `${source}:${jobId}` : '';\n    if (key) existingKeys.add(key);\n    if (url) existingUrls.add(url);\n  }\n}\nconsole.log(`Dedup: ${newItems.length} new items, ${existingKeys.size} existing keys, ${existingUrls.size} existing URLs`);\nconst output = [];\nlet skippedCount = 0;\nfor (const item of newItems) {\n  const progress = item.json['Progress'] || '';\n  if (progress === 'error') { const { _isNew, ...rest } = item.json; output.push({ json: rest }); continue; }\n  const source = String(item.json['Source'] ?? '').trim();\n  const jobId = String(item.json['Job ID'] ?? '').trim();\n  const url = String(item.json['URL'] ?? '').trim();\n  const key = source && jobId ? `${source}:${jobId}` : '';\n  if (key && existingKeys.has(key)) { skippedCount++; continue; }\n  if (!key && url && existingUrls.has(url)) { skippedCount++; continue; }\n  const { _isNew, ...rest } = item.json;\n  output.push({ json: rest });\n}\nconsole.log(`Dedup: skipped ${skippedCount} duplicate(s), passing ${output.length} new item(s)`);\n\nif (output.length > 0) return output;\n\n// No new jobs — emit at most one heartbeat row per calendar day\nconst today = new Date().toISOString().split('T')[0];\nconst alreadyHasHeartbeat = allItems.some(item =>\n  !item.json._isNew &&\n  String(item.json['Progress'] ?? '') === 'skip' &&\n  String(item.json['Company'] ?? '') === '\\u2713 No new jobs \\u2014 USAJobs' &&\n  String(item.json['Date Received'] ?? '').startsWith(today)\n);\n\nif (alreadyHasHeartbeat) return [];\n\nreturn [{\n  json: {\n    'Date Received': today,\n    'Company': '\\u2713 No new jobs \\u2014 USAJobs',\n    'Job Title': 'Workflow ran \\u2014 all recommendations already tracked',\n    'URL': '', 'Location': '', 'Remote': '', 'Salary': '',\n    'Experience': '', 'Technologies': '', 'Function': '',\n    'Company Size': '', 'Funding': '',\n    'Progress': 'skip', 'Source': 'usajobs',\n    'Job ID': '', 'Apply URL': '', 'Applied': '', 'Security Clearance': ''\n  }\n}];"
      },
      "id": "filter-duplicates",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1n7KDTMLHbSgUEue6HFXFLm8NA8NKibA-LRiBk8blI34",
          "cachedResultName": "WTJ Job Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7KDTMLHbSgUEue6HFXFLm8NA8NKibA-LRiBk8blI34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "USAJobs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "Append to Job Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0pHaLOuQws9nqOt4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Search by Title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search by Keyword",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Title": {
      "main": [
        [
          {
            "node": "Merge Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Keyword": {
      "main": [
        [
          {
            "node": "Merge Searches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Searches": {
      "main": [
        [
          {
            "node": "Parse & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Classify": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Append to Job Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}